# 4. 사용자 입력

In [ ]:
# input은 사용자로부터 입력을 문자열로 받아온다.

input_test=input()
print(input_test)

asdf
12

In [10]:
b=input()
a=input()

print("input은 정수를 입력해도 자동으로 문자열취급이 된다.: ",a+b)


b=int(input())
a=int(input())

print("형변환을 해야 정수로서 연산이 가능하다.: ",a+b)

input은 정수를 입력해도 자동으로 문자열취급이 된다.:  11
형변환을 해야 정수로서 연산이 가능하다.:  4

In [ ]:
c=float(input())
d=float(input())
print("실수 계산은 실수로 변환이 필수. 사유? 문자열 실수는 정수변환이 안되기 때문에.",c+d)

29.4

In [15]:
# input에 설명문을 추가

name=input("이름을 입력하시오: ")
print("나의 이름은 ", name , "입니다.")

나의 이름은  ㅁㅇㄹ 입니다.

In [ ]:
# 문자열 나누기 .split 구분자(공백)을 기준으로 문자열을 쪼개서 리스트를 반환한다.
과일 = "수박 사과 참외".split()
print(과일)

과일1, 과일2, 과일3="체리 딸기 포도".split()
print(과일1)
print(과일2)
print(과일3)

['수박', '사과', '참외']
체리
딸기
포도

In [19]:
# 여러 자료 입력하기

동물1, 동물2, 동물3=input().split()
print(동물1)
print(동물2)
print(동물3)

고양이
냥냥이
먀옹이