# 4. 사용자 입력

In [ ]:
# input은 사용자로부터 입력을 문자열로 받아온다.

input_test=input()
print(input_test)

asdf
12

In [10]:
b=input()
a=input()

print("input은 정수를 입력해도 자동으로 문자열취급이 된다.: ",a+b)


b=int(input())
a=int(input())

print("형변환을 해야 정수로서 연산이 가능하다.: ",a+b)

input은 정수를 입력해도 자동으로 문자열취급이 된다.:  11
형변환을 해야 정수로서 연산이 가능하다.:  4

In [ ]:
c=float(input())
d=float(input())
print("실수 계산은 실수로 변환이 필수. 사유? 문자열 실수는 정수변환이 안되기 때문에.",c+d)

29.4

In [ ]:
# input에 설명문을 추가

name=input("이름을 입력하시오: ")
print("나의 이름은 ", name , "입니다.")

나의 이름은  ㅁㅇㄹ 입니다.

In [ ]:
# 문자열 나누기 .split 구분자(공백)을 기준으로 문자열을 쪼개서 리스트를 반환한다.
과일 = "수박 사과 참외".split()
print(과일)

과일1, 과일2, 과일3="체리 딸기 포도".split()
print(과일1)
print(과일2)
print(과일3)

['수박', '사과', '참외']
체리
딸기
포도

In [19]:
# 여러 자료 입력하기

동물1, 동물2, 동물3=input().split()
print(동물1)
print(동물2)
print(동물3)

고양이
냥냥이
먀옹이

In [2]:
name, age=input().split()
print("안녕하세요 제 이름은[",name,"]이고,[",age,"]살 입니다")

안녕하세요 제 이름은[ 김철수 ]이고,[ 10 ]살 입니다

In [1]:
height, width=input().split()
print("넓이: ",(int(height)*int(width)),"\n둘레: ",((int(height)+int(width))*2))

넓이:  10000
둘레:  400

In [12]:
num=int(input())
print("천의 자리: ",(num//1000),
      "\n백의 자리: ",((num%1000)//100),
      "\n십의 자리: ",((num%100)//10),
      "\n일의 자리:",((num%10)//1))

천의 자리:  1
백의 자리:  2
십의 자리:  3
일의 자리: 4

In [20]:
name1, name2, name3=input("발표자 이름 3명을 입력하세요: ").split()
sub1, sub2, sub3=input("발표 주제 3개를 입력하세요: ").split()
print(f"""
!!!발표 순서 안내입니다!!!
1조 발표자: {name1} 주제: {sub1}
2조 발표자: {name2} 주제: {sub2}
3조 발표자: {name3} 주제: {sub3}
""")

!!!발표 순서 안내입니다!!!
1조 발표자: 민수 주제: 재생에너지
2조 발표자: 준수 주제: IOT
3조 발표자: 영수 주제: 풍력발전

In [19]:
year, month, day=input("년 월 일을 입력하세요: ").split(".")
hour, min, sec=input("시 분 초를 입력해주세요: ").split(":")
print(f"""
RE3의 개강일은 {year}년 {month}월 {day}일
시작 시간은 {hour}시 {min}분 {sec}초 입니다.
""")

RE3의 개강일은 2080년 09월 17일
시작 시간은 15시 34분 5초 입니다.